# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual env
venv/
env/

# Node
node_modules/

# Secrets
*.pem
*.key